<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Principal" connectionString="Data Source=192.168.1.211;Initial Catalog=peajeM;Persist Security Info=True;User ID=sa;Password=Vegam123;" providerName="System.Data.SqlClient" />
    <!--
    <add name="ORELLA" connectionString="Data Source=192.168.1.213;Initial Catalog=peajeM;Persist Security Info=True;User ID=sa;Password=Vegam123" providerName="System.Data.SqlClient"/>
    <add name="BRICENO" connectionString="Data Source=192.168.1.208;Initial Catalog=peajeM;Persist Security Info=True;User ID=sa;Password=Vegam123" providerName="System.Data.SqlClient"/>
    <add name="SITIOCERO" connectionString="Data Source=192.168.1.221;Initial Catalog=peajeM;Persist Security Info=True;User ID=sa;Password=Vegam123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

</configuration>