<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <connectionStrings>
        <add name="ReportesMayo.Properties.Settings.peajeF" connectionString="Data Source=MAYO-NTBK;Initial Catalog=peajeF;Persist Security Info=True;User ID=sa;Password=Vegam123"
            providerName="System.Data.SqlClient" />
        <add name="PM" connectionString="Data Source=MAYO-NTBK;Initial Catalog=peajeF;User ID=sa;Password=Vegam123; MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>