<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportesManga.Properties.Settings.peajeMangaConnectionString"
            connectionString="Data Source=manga-ntbk;Initial Catalog=peajeM;User ID=sa;Password=Vegam123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>