<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.20.0.0" newVersion="0.20.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="PM" connectionString="Data Source=192.168.1.59;Initial Catalog=peajeMayo;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PB" connectionString="Data Source=192.168.1.55;Initial Catalog=peajeBriceno;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PO" connectionString="Data Source=192.168.1.56;Initial Catalog=peajeOrella;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="OD" connectionString="Data Source=192.168.1.57;Initial Catalog=peajeOrellaDos;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PP" connectionString="Data Source=192.168.1.54;Initial Catalog=peajePrincipal;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="SC" connectionString="Data Source=192.168.1.58;Initial Catalog=peajeSitioCero;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="CD" connectionString="Data Source=20.20.20.153;Initial Catalog=Scharfstein;Persist Security Info=True;User ID=sa;Password=Vegam123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
